# sensitive documents
.bts/docs/
.bts/learning_playtrough

# Python cache files
data/__pycache__/
src/instruments/hand_refractometer/__pycache__

# unused unimportant files
Experiments/

# developer only