# sensitive documents
.bts/docs/
.bts/learning_playtrough

# Python cache files
**/__pycache__/
src/instruments/hand_refractometer/__pycache__

# unused unimportant files
Experiments/
build/build_temp

# developer only